atproto==0.0.52
beautifulsoup4==4.12.3
bs4==0.0.2
html5lib==1.1
httplib2==0.22.0
numpy==1.24.4
pandas==2.0.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
pytz-deprecation-shim==0.1.0.post0
soupsieve==2.6
urllib3==2.2.2
